/ instead of the schedule-url we will be able to access the info from of the export-xml here
%h2= "Event "+item[:title]+" in "+item[:city]

%ul
	- item[:talks].each do |talk|
		%li
			=talk[:track]+": "
			%a{ href: "/talk/#{talk[:id]}/"}= talk[:title]
