!!! 5
%html{ html_attrs('de') }

	%head
		%title
			Title

		%meta{ charset: 'utf-8' }
		%meta{ name: "viewport", content: "width=device-width, initial-scale=1"}
		%link{ href: '/css/style.css', type: 'text/css', rel: 'stylesheet' }

	%body
		#container
			%h1
				Title

			%article
				= yield
